{"openapi":"3.0.3","info":{"title":"HumanoidBehavior API","version":"1.0.0","description":"Behavior registry, reproducible evaluation, MuJoCo experiments, robot adapters and usage APIs."},"servers":[{"url":"https://humanoidbehavior.com"}],"security":[{"bearerAuth":[]}],"paths":{"/api/behaviors":{"get":{"summary":"List public behaviors"},"post":{"summary":"Create a private behavior package"}},"/api/behaviors/{id}":{"get":{"summary":"Get latest public behavior","parameters":[{"$ref":"#/components/parameters/id"}]}},"/api/behaviors/{id}/versions":{"get":{"summary":"List published versions"},"post":{"summary":"Create a behavior version"}},"/api/experiments/run":{"post":{"summary":"Queue an evaluation"}},"/api/experiments/{id}":{"get":{"summary":"Get experiment status and results"}},"/api/jobs/{id}":{"get":{"summary":"Get durable job status"}},"/api/usage":{"get":{"summary":"Get plan limits and monthly usage"}},"/api/keys":{"get":{"summary":"List API keys"},"post":{"summary":"Create an API key"}},"/api/billing/checkout":{"post":{"summary":"Create a Stripe subscription checkout session"}},"/api/robots":{"get":{"summary":"List robot embodiments"}},"/api/robots/{id}/evaluate":{"post":{"summary":"Queue a robot embodiment evaluation"}},"/api/robots/unitree-g1/behaviors/pick-place":{"post":{"summary":"Queue measured Unitree G1 pick-place evaluation"}}},"components":{"parameters":{"id":{"name":"id","in":"path","required":true,"schema":{"type":"string"}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}}}}